{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">
                    {{ form.dogfish_head_rating.label(class="form-control-label") }}
                    {{ form.dogfish_head_rating(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.old_ras_rating.label(class="form-control-label") }}
                    {{ form.old_ras_rating(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.sn_cel_rating.label(class="form-control-label") }}
                    {{ form.sn_cel_rating(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.two_heart_rating.label(class="form-control-label") }}
                    {{ form.two_heart_rating(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.stone_ruin_rating.label(class="form-control-label") }}
                    {{ form.stone_ruin_rating(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.arr_bast_rating.label(class="form-control-label") }}
                    {{ form.arr_bast_rating(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.sn_pale_rating.label(class="form-control-label") }}
                    {{ form.sn_pale_rating(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.stone_ipa_rating.label(class="form-control-label") }}
                    {{ form.stone_ipa_rating(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.pliny_rating.label(class="form-control-label") }}
                    {{ form.pliny_rating(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.founders_rating.label(class="form-control-label") }}
                    {{ form.founders_rating(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <dir class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </dir>
        </form>
    </div>
{% endblock content %}
