{% extends "layout.html" %}
{% block content %}
    <div class="media-body">
    <h1>Your Brewery Recommendations!</h1>
    <hr style="border-top: dotted 3px;" />
    <br>
    </div>
    {% for brewery, beers in recommendations.items() %}
        <div class="media-body">
            <p>
                <h3> <a method="POST" href="{{ url_for('testing', brewery=brewery) }}">{{ brewery }}<a></h3>
                <h5>Make sure you try these beers while you are there!</h5>
                <ul>
                {% for beer in beers %}
                    <li>{{ beer }}</li>
                {% endfor %}
                </ul>
            <hr style="border-top: dotted 1px;" />

            <br>
        </div>
    {% endfor %}
{% endblock content %}
